
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container text-center">
    <h1>Cocktail Hub</h1>
    <p>Featuring the best cocktails from around the world!</p>
  </div>
</div>

<div class="container">
  <%= link_to "Add New Cocktail", new_cocktail_path %>
  <ul class="row">

    <% @cocktails.each do |cocktail| %>
      <li class = "column m-3">
        <div class="card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" height="300px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name%></h5>
            <p class="card-text"><% cocktail.doses.each do |dose|%>
                <%= dose.description %> <%= dose.ingredient.name %>
               <%end  %>
            </p>
            <%= button_to 'Learn More', cocktail_path(cocktail.id), method: :get%>
          </div>
        </div>
      </li>
    <% end %>

  </ul>


</div>
