<div class="container">
  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id) %> <br>
    </div>

    <div class="p-2 bd-highlight">
    <%= link_to "Back Home", cocktails_path %>
    </div>
  </div>


  <div class="text-center">
    <h1> <%=@cocktail.name  %></h1>


    <% @cocktail.doses.each do |dose| %>
          <p><%= dose.description %> <%= dose.ingredient.name %></p>
          <%= link_to "Delete a dose", dose_path(dose.id), method: :delete %>
    <% end %>

  </div>
</div>


